USE [SISTRATUR_Final]
GO
/****** Object:  Table [dbo].[PerfilUsuario]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [nvarchar](8) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[AppPaterno] [nvarchar](100) NULL,
	[AppMaterno] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PerfilUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PerfilUsuario] ON
INSERT [dbo].[PerfilUsuario] ([Id], [Dni], [Nombres], [AppPaterno], [AppMaterno], [Username], [Password]) VALUES (1, N'44151194', N'Jhonatan', N'Villacorta', N'Ramirez', N'Neo', N'123456')
INSERT [dbo].[PerfilUsuario] ([Id], [Dni], [Nombres], [AppPaterno], [AppMaterno], [Username], [Password]) VALUES (2, N'45151289', N'Javier', N'Martos', N'Rodriguez', N'Jav', N'123456')
INSERT [dbo].[PerfilUsuario] ([Id], [Dni], [Nombres], [AppPaterno], [AppMaterno], [Username], [Password]) VALUES (3, N'46246587', N'Fernando', N'Maldonado', N'Quiroz', N'Fer', N'123456')
SET IDENTITY_INSERT [dbo].[PerfilUsuario] OFF
/****** Object:  Table [dbo].[Modelo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Modelo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON
INSERT [dbo].[Modelo] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Vitara', NULL)
INSERT [dbo].[Modelo] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Yaris', NULL)
INSERT [dbo].[Modelo] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Hillux', NULL)
SET IDENTITY_INSERT [dbo].[Modelo] OFF
/****** Object:  Table [dbo].[MarcaVehiculo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcaVehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.MarcaVehiculo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MarcaVehiculo] ON
INSERT [dbo].[MarcaVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Toyota', NULL)
INSERT [dbo].[MarcaVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Mitsubishi', NULL)
INSERT [dbo].[MarcaVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Nissan', NULL)
SET IDENTITY_INSERT [dbo].[MarcaVehiculo] OFF
/****** Object:  Table [dbo].[MarcaArticulo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcaArticulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.MarcaArticulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MarcaArticulo] ON
INSERT [dbo].[MarcaArticulo] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Good Year', NULL)
INSERT [dbo].[MarcaArticulo] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Castrol', NULL)
INSERT [dbo].[MarcaArticulo] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Prestone', NULL)
SET IDENTITY_INSERT [dbo].[MarcaArticulo] OFF
/****** Object:  Table [dbo].[EstadoVehiculo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoVehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.EstadoVehiculo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadoVehiculo] ON
INSERT [dbo].[EstadoVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Libre', NULL)
INSERT [dbo].[EstadoVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Ocupado', NULL)
INSERT [dbo].[EstadoVehiculo] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Mantenimiento', NULL)
SET IDENTITY_INSERT [dbo].[EstadoVehiculo] OFF
/****** Object:  Table [dbo].[Conductor]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [nvarchar](8) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[AppPaterno] [nvarchar](100) NULL,
	[AppMaterno] [nvarchar](100) NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Celular] [int] NOT NULL,
	[Telefono] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[CategoriaLicencia] [nvarchar](7) NOT NULL,
	[NroLicencia] [nvarchar](9) NOT NULL,
	[FechEmisLicenia] [datetime] NOT NULL,
	[FechCaducLicenia] [datetime] NOT NULL,
	[FechContratacion] [datetime] NOT NULL,
	[FechFinContrato] [datetime] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Conductor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conductor] ON
SET IDENTITY_INSERT [dbo].[Conductor] OFF
/****** Object:  Table [dbo].[Color]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Color] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Color] ON
INSERT [dbo].[Color] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Negro', NULL)
INSERT [dbo].[Color] ([Id], [Descripcion], [Observaciones]) VALUES (4, N'Crema', NULL)
INSERT [dbo].[Color] ([Id], [Descripcion], [Observaciones]) VALUES (5, N'Blanco', N'Plachado')
SET IDENTITY_INSERT [dbo].[Color] OFF
/****** Object:  Table [dbo].[Cliente]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDoc] [bit] NOT NULL,
	[NroDocumento] [nvarchar](11) NOT NULL,
	[NombresRazonSocial] [nvarchar](100) NOT NULL,
	[AppPaterno] [nvarchar](100) NULL,
	[AppMaterno] [nvarchar](100) NULL,
	[Celular] [int] NOT NULL,
	[Telefono] [int] NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Comentarios] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON
INSERT [dbo].[Cliente] ([Id], [TipoDoc], [NroDocumento], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [FechaRegistro], [Comentarios]) VALUES (1, 0, N'543456765', N'Qoriandes', N'Vilca', N'Marin', 989786576, 786598, N'Desamparados', N'qoriandes_1@gmail.com', CAST(0x0000A19900000000 AS DateTime), N'Puntual al pagar')
INSERT [dbo].[Cliente] ([Id], [TipoDoc], [NroDocumento], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [FechaRegistro], [Comentarios]) VALUES (4, 1, N'45342376', N'Luis', N'Marroquin', N'Quintana', 987676545, 354323, N'La Molina', N'Marroquin@hotmail.com', CAST(0x0000A2E900000000 AS DateTime), N'No paga puntual')
INSERT [dbo].[Cliente] ([Id], [TipoDoc], [NroDocumento], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [FechaRegistro], [Comentarios]) VALUES (6, 0, N'54675654334', N'El Marraquez', N'Viera', N'Mondragon', 989768765, 354345, N'La Colmena', N'marraquez@gmail.com', CAST(0x0000A49000000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
/****** Object:  Table [dbo].[Ciudad]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Ciudad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON
INSERT [dbo].[Ciudad] ([Id], [Descripcion]) VALUES (1, N'Cajamarca')
INSERT [dbo].[Ciudad] ([Id], [Descripcion]) VALUES (2, N'Trujillo')
INSERT [dbo].[Ciudad] ([Id], [Descripcion]) VALUES (3, N'Lima')
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
/****** Object:  Table [dbo].[Categoria]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON
INSERT [dbo].[Categoria] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Llantas', NULL)
INSERT [dbo].[Categoria] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Aceites', NULL)
INSERT [dbo].[Categoria] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Repuestos', NULL)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Tipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tipo] ON
INSERT [dbo].[Tipo] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Omnibus', NULL)
INSERT [dbo].[Tipo] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'Combi', NULL)
INSERT [dbo].[Tipo] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Camioneta', NULL)
SET IDENTITY_INSERT [dbo].[Tipo] OFF
/****** Object:  Table [dbo].[Rol]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rol] ON
INSERT [dbo].[Rol] ([Id], [Descripcion], [Observaciones]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Rol] ([Id], [Descripcion], [Observaciones]) VALUES (2, N'SuperAdmin', NULL)
INSERT [dbo].[Rol] ([Id], [Descripcion], [Observaciones]) VALUES (3, N'Usuario', NULL)
SET IDENTITY_INSERT [dbo].[Rol] OFF
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](7) NOT NULL,
	[Kilometraje] [decimal](9, 2) NOT NULL,
	[Anio] [int] NOT NULL,
	[EstadoVehiculoId] [int] NOT NULL,
	[MarcaVehiculoId] [int] NOT NULL,
	[ModeloId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[TipoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Vehiculo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON
INSERT [dbo].[Vehiculo] ([Id], [Placa], [Kilometraje], [Anio], [EstadoVehiculoId], [MarcaVehiculoId], [ModeloId], [ColorId], [TipoId]) VALUES (6, N'M76-432', CAST(87000.00 AS Decimal(9, 2)), 1990, 3, 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
/****** Object:  Table [dbo].[UsuarioRoles]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[PerfilUsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsuarioRoles] PRIMARY KEY CLUSTERED 
(
	[PerfilUsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UsuarioRoles] ([PerfilUsuarioId], [RolId]) VALUES (1, 1)
INSERT [dbo].[UsuarioRoles] ([PerfilUsuarioId], [RolId]) VALUES (2, 2)
INSERT [dbo].[UsuarioRoles] ([PerfilUsuarioId], [RolId]) VALUES (3, 3)
/****** Object:  Table [dbo].[Proveedor]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ruc] [nvarchar](11) NOT NULL,
	[RazonSocial] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Celular] [int] NOT NULL,
	[Telefono] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[CiudadId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON
INSERT [dbo].[Proveedor] ([Id], [Ruc], [RazonSocial], [Direccion], [Celular], [Telefono], [Email], [CiudadId]) VALUES (1, N'786765457', N'Los Andes', N'Pisagua', 987678787, 343234, N'andes_01@gmail.com', 1)
INSERT [dbo].[Proveedor] ([Id], [Ruc], [RazonSocial], [Direccion], [Celular], [Telefono], [Email], [CiudadId]) VALUES (2, N'765456788', N'Los Cerritos', N'Santa Elena', 987098765, 357678, N'cerritos@gmil.com', 2)
INSERT [dbo].[Proveedor] ([Id], [Ruc], [RazonSocial], [Direccion], [Celular], [Telefono], [Email], [CiudadId]) VALUES (3, N'654367895', N'Las Cumbres', N'Piñones', 978675643, 376543, N'cumbrehotmail.com', 3)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
/****** Object:  Table [dbo].[Articulo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Stock] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Descontinuado] [bit] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[MarcaArticuloId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Articulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulo] ON
INSERT [dbo].[Articulo] ([Id], [Descripcion], [Codigo], [Stock], [FechaRegistro], [FechaModificacion], [Descontinuado], [CategoriaId], [MarcaArticuloId]) VALUES (2, N'Llantas', N'001', 5, CAST(0x0000A3FF00000000 AS DateTime), CAST(0x0000A41400000000 AS DateTime), 1, 1, 1)
INSERT [dbo].[Articulo] ([Id], [Descripcion], [Codigo], [Stock], [FechaRegistro], [FechaModificacion], [Descontinuado], [CategoriaId], [MarcaArticuloId]) VALUES (3, N'Aceite', N'002', 10, CAST(0x0000A40D00000000 AS DateTime), CAST(0x0000A43600000000 AS DateTime), 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
/****** Object:  Table [dbo].[DetalleArticuloToVehiculo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleArticuloToVehiculo](
	[VehiculoId] [int] NOT NULL,
	[ArticuloId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DetalleArticuloToVehiculo] PRIMARY KEY CLUSTERED 
(
	[VehiculoId] ASC,
	[ArticuloId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DetalleArticuloToVehiculo] ([VehiculoId], [ArticuloId], [Cantidad]) VALUES (6, 3, 3)
/****** Object:  Table [dbo].[DetalleArticulo]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleArticulo](
	[ArticuloId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DetalleArticulo] PRIMARY KEY CLUSTERED 
(
	[ArticuloId] ASC,
	[ProveedorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DetalleArticulo] ([ArticuloId], [ProveedorId]) VALUES (2, 1)
INSERT [dbo].[DetalleArticulo] ([ArticuloId], [ProveedorId]) VALUES (3, 2)
/****** Object:  Table [dbo].[Alquiler]    Script Date: 07/10/2015 17:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaServicio] [nvarchar](15) NOT NULL,
	[HoraServicio] [nvarchar](15) NOT NULL,
	[LugarReferencia] [nvarchar](200) NULL,
	[NroDias] [int] NOT NULL,
	[Montodia] [decimal](5, 2) NOT NULL,
	[MontoTotal] [decimal](5, 2) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
	[FechaInicio] [nvarchar](15) NOT NULL,
	[FechaFin] [nvarchar](15) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[ConductorId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[PerfilUsuarioId] [int] NULL,
 CONSTRAINT [PK_dbo.Alquiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Cliente_ClienteId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Cliente_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Cliente_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Conductor_ConductorId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Conductor_ConductorId] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Conductor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Conductor_ConductorId]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.PerfilUsuario_PerfilUsuarioId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.PerfilUsuario_PerfilUsuarioId] FOREIGN KEY([PerfilUsuarioId])
REFERENCES [dbo].[PerfilUsuario] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.PerfilUsuario_PerfilUsuarioId]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Vehiculo_VehiculoId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Vehiculo_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Vehiculo_VehiculoId]
GO
/****** Object:  ForeignKey [FK_dbo.Articulo_dbo.Categoria_CategoriaId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Articulo_dbo.Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_dbo.Articulo_dbo.Categoria_CategoriaId]
GO
/****** Object:  ForeignKey [FK_dbo.Articulo_dbo.MarcaArticulo_MarcaArticuloId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Articulo_dbo.MarcaArticulo_MarcaArticuloId] FOREIGN KEY([MarcaArticuloId])
REFERENCES [dbo].[MarcaArticulo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_dbo.Articulo_dbo.MarcaArticulo_MarcaArticuloId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleArticulo_dbo.Articulo_ArticuloId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[DetalleArticulo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleArticulo_dbo.Articulo_ArticuloId] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleArticulo] CHECK CONSTRAINT [FK_dbo.DetalleArticulo_dbo.Articulo_ArticuloId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleArticulo_dbo.Proveedor_ProveedorId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[DetalleArticulo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleArticulo_dbo.Proveedor_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleArticulo] CHECK CONSTRAINT [FK_dbo.DetalleArticulo_dbo.Proveedor_ProveedorId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleArticuloToVehiculo_dbo.Articulo_ArticuloId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[DetalleArticuloToVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleArticuloToVehiculo_dbo.Articulo_ArticuloId] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleArticuloToVehiculo] CHECK CONSTRAINT [FK_dbo.DetalleArticuloToVehiculo_dbo.Articulo_ArticuloId]
GO
/****** Object:  ForeignKey [FK_dbo.DetalleArticuloToVehiculo_dbo.Vehiculo_VehiculoId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[DetalleArticuloToVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetalleArticuloToVehiculo_dbo.Vehiculo_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleArticuloToVehiculo] CHECK CONSTRAINT [FK_dbo.DetalleArticuloToVehiculo_dbo.Vehiculo_VehiculoId]
GO
/****** Object:  ForeignKey [FK_dbo.Proveedor_dbo.Ciudad_CiudadId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proveedor_dbo.Ciudad_CiudadId] FOREIGN KEY([CiudadId])
REFERENCES [dbo].[Ciudad] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_dbo.Proveedor_dbo.Ciudad_CiudadId]
GO
/****** Object:  ForeignKey [FK_dbo.UsuarioRoles_dbo.PerfilUsuario_PerfilUsuarioId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioRoles_dbo.PerfilUsuario_PerfilUsuarioId] FOREIGN KEY([PerfilUsuarioId])
REFERENCES [dbo].[PerfilUsuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_dbo.UsuarioRoles_dbo.PerfilUsuario_PerfilUsuarioId]
GO
/****** Object:  ForeignKey [FK_dbo.UsuarioRoles_dbo.Rol_RolId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioRoles_dbo.Rol_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_dbo.UsuarioRoles_dbo.Rol_RolId]
GO
/****** Object:  ForeignKey [FK_dbo.Vehiculo_dbo.Color_ColorId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculo_dbo.Color_ColorId] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Color] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_dbo.Vehiculo_dbo.Color_ColorId]
GO
/****** Object:  ForeignKey [FK_dbo.Vehiculo_dbo.EstadoVehiculo_EstadoVehiculoId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculo_dbo.EstadoVehiculo_EstadoVehiculoId] FOREIGN KEY([EstadoVehiculoId])
REFERENCES [dbo].[EstadoVehiculo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_dbo.Vehiculo_dbo.EstadoVehiculo_EstadoVehiculoId]
GO
/****** Object:  ForeignKey [FK_dbo.Vehiculo_dbo.MarcaVehiculo_MarcaVehiculoId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculo_dbo.MarcaVehiculo_MarcaVehiculoId] FOREIGN KEY([MarcaVehiculoId])
REFERENCES [dbo].[MarcaVehiculo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_dbo.Vehiculo_dbo.MarcaVehiculo_MarcaVehiculoId]
GO
/****** Object:  ForeignKey [FK_dbo.Vehiculo_dbo.Modelo_ModeloId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculo_dbo.Modelo_ModeloId] FOREIGN KEY([ModeloId])
REFERENCES [dbo].[Modelo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_dbo.Vehiculo_dbo.Modelo_ModeloId]
GO
/****** Object:  ForeignKey [FK_dbo.Vehiculo_dbo.Tipo_TipoId]    Script Date: 07/10/2015 17:26:37 ******/
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehiculo_dbo.Tipo_TipoId] FOREIGN KEY([TipoId])
REFERENCES [dbo].[Tipo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_dbo.Vehiculo_dbo.Tipo_TipoId]
GO
